.screen {
  margin: 0 auto;
  width: 300px;
  height: 80px;
  border-radius: 10px;
  /* display: block; */

  /* display: flex; */
  /* align-items: center; */
  /* justify-content: flex-end; */
  box-sizing: border-box;
  text-align: right;
  font-weight: bold;
  color: #eeeeee;
  overflow: auto;
}
