.screen {
  margin: 0 auto;
  width: 170px;
  line-height: 50px;
  height: 50px;
  box-sizing: border-box;
  text-align: right;
  font-weight: bold;
  color: #eeeeee;
  overflow: auto;
}

.text-display {
  font-size: 18px;
}
